$colores-fonts: blue;
$font-principal: "Unbounded", cursive;
$font-secundaria: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$size-fonts: 25px;